# Xcode
*.xcodeproj/
*.xcworkspace/
xcuserdata/
DerivedData/
Build/
*.pbxuser
*.mode1v3
*.mode2v3
*.perspectivev3
*.xccheckout
*.xcscmblueprint
*.moved-aside

# SPM
.build/
Packages/
Package.resolved

# CocoaPods
Pods/
Podfile.lock

# OS
.DS_Store
*.swp
*~
